<h1 class="mt-4 mb-5">Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <br>
  <center class="mt-4">
  <%= f.submit "Submit" %>
  </center>

<% end %>